@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  @apply text-gray-800;
}

.navbar-link {
  color: black !important;
}

.navbar-link.active {
  color: #212529 !important; /* Text color */
  text-decoration: underline !important; /* Underline style */
  text-underline-offset: 4px !important; /* Space between text and underline */
  text-decoration-thickness: 3px !important; /* Thickness of the underline */
  text-decoration-color: #37b24d !important; /* Color of the underline */
}
