@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  @apply text-gray-800;
}

.navbar-link {
  color: black !important;
}

.navbar-link.active {
  color: #212529 !important; /* Text color */
  text-decoration: underline !important; /* Underline style */
  text-underline-offset: 4px !important; /* Space between text and underline */
  text-decoration-thickness: 3px !important; /* Thickness of the underline */
  text-decoration-color: #37b24d !important; /* Color of the underline */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

.slick-dots li button:before {
  color: gray; /* Default dot color */
  font-size: 12px; /* Adjust size if needed */
}

.slick-dots li.slick-active button:before {
  color: white; /* Active dot color */
}
